@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body{
    width: 100vw;
    height: 100vh;
    background-color: #b2b2b2;
    overflow: hidden;
}

header{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

}

header img{
    position: relative;
    width: 150px;
    left: -300px;
}

header nav{
    position: relative;
    right: 400px;
    display: flex;
    align-items: center;
    gap: 48px;
}

header nav a{
    
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-weight: bold;
    padding: 10px;
}

header nav a:hover{
    
    background-color: black;
    border-radius: 20px;
    transform: translate(-15px, 0px);
    box-shadow: 2px 15px 10px -12px rgba(0, 0, 0, 0.205);;
    transition: transform .3s ease;
}

main section{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100vh;
    width: 100vw;


}


.texto-principal{
    position: relative;
    
    top: -190px;
    left: 152px;
    width: 35%;
    
}

.texto-principal h1{
color: rgba(49, 48, 48, 0.603);
}

.texto-principal h1, h2{
    font-size: 68px;
}
.texto-principal h3{
    font-size: 30px;
    color: white;
}
.texto-principal p{
    font-size: 14px;
    line-height: 30px;
    
}

.botao{
    position: relative;
    top: 30px;
    right: 420px;

    width:200px;
    color: white;
    background-color: rgba(49, 48, 48, 0.603);
    padding: 10px;
    
    border-radius: 20px;
    font-size: 18px;
    border: none;
    transition: background-color .2s, transform .3s;
}
.botao:hover{
    background-color: black;
    border: 2px solid white;
    transform: translate(25px,0);
    cursor: pointer;
}



main section img{
    position: relative;
    top: -100px;
    right: -255px;
    
    width: 56%;
}


.login-bars{
    height: 140vh;
    width: 80px;
    background-color: rgba(0, 0, 0, 0.788);
}